.container {
    text-align: center;
}

.range-color-box {
    margin: 0 auto;
    background-color: #000;
    width: 100px;
    height: 100px;
}

.range-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
}

.range-value {
    width: 3em;
}

#range-red  .range-text {
    color: red;
}
#range-green  .range-text {
    color: green;
}
#range-blue  .range-text {
    color: blue;
}
