* {
    font-family: 'Courier New', Courier, monospace;
}

.text-center {
    text-align: center;
}

.container {
   margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px; 
}

.range-color-box {
    margin: 0 auto;
    background-color: #000;
    width: 100px;
    height: 100px;
}

.range-control {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.range-value {
}

.range-text {
 min-width: 140px;
}

#range-red  .range-text {
    color: red;
}
#range-green  .range-text {
    color: green;
}
#range-blue  .range-text {
    color: blue;
}
